*.retry
*.pyc
*.sqlite3
*/htmlcov/*
.coverage
virtualenv/
./Makefile
selenium/
share/
keys.py
settings_production.py
daisychain/core/fixtures/initial_data.json
daisychain/assets
logs
.idea/
celerybeat-schedule
pip-selfcheck.json
