{% load staticfiles %}
<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">daisychain.me</h1>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">makes life easy</h3>
        <ul class="list-inline intro-social-buttons">
            <li><a href="{% url 'account_login' %}" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Sign-In</span></a>
            </li>
            <li><a href="{% url 'account_signup' %}" class="btn  btn-lg mybutton_standard wow fadeIn" data-wow-delay="0.8s"><span class="network-name">become a daisy</span></a>
            </li>
        </ul>
    </div>
    <!-- /.container -->
</div>
