{% extends '_base.html' %}
{% load i18n %}{% load staticfiles %}

{% block content %}
    <link href="{% static "recipes/css/style.css" %}" rel="stylesheet">
    <div class="row">
        <h2>{% trans "Create a new recipe" %}<h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 recipe_create--step_header_prev_box">
        </div>
        <div class="col-md-6 col-sm-6 recipe_create--step_header_current_box">
            <h2 class="recipe_create--step_header_current">{% trans "Select a trigger channel" %}</h2>
        </div>
        <div class="col-md-3 col-sm-3 recipe_create--step_header_next_box">
            <span class="recipe_create--step_header_next">{% trans "Select a trigger" %}</span>
        </div>
    </div>
    <div class="row">
        <form action="{% url "recipes:new_step1" %}" method="post">
        {% csrf_token %}
        {% for channel in trigger_channels %}
            <button type="submit"
                    name="trigger_channel_id"
                    value="{{ channel.id }}"
                    class="recipe_create--channel"
                    style="background-color: {{ channel.color }}; background-image: url({% static channel.image %}); color: {{ channel.font_color }};">{{ channel.name }}</button>
        {% empty %}
            {% trans "Sorry, there are no channels installed, that provide any trigger. Please tell your administrator to install some." %}
        {% endfor %}
        </form>
    </div>

{% endblock %}
