{% extends '_base.html' %}
{% load i18n %}{% load staticfiles %}

{% block content %}
    <link href="{% static "recipes/css/style.css" %}" rel="stylesheet">
    <div class="row">
        <h2>{% trans "Create a new recipe" %}</h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 recipe_create--step_header_prev_box">
            <span class="recipe_create--step_header_prev">{% trans "Select a action channel" %}</span>
        </div>
        <div class="col-md-6 col-sm-6 recipe_create--step_header_current_box">
            <h2 class="recipe_create--step_header_current">{% trans "Set the action mappings" %}</h2>
        </div>
        <div class="col-md-3 col-sm-3 recipe_create--step_header_next_box">
            <span class="recipe_create--step_header_next">{% trans "Save your new recipe" %}</span>
        </div>
    </div>
    <form action="{% url "recipes:new_step6" %}" method="post">
        {% csrf_token %}
        {% for input in action_inputs %}
            <div class="row recipe_create--mapping_row">
                <div class="form-group">
                    <div class="col-sm-3 col-xs-12">
                        <label for="input_{{ input.id }}">{{ input.name }}</label>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {% if input.mime_type == "text" %}
                        <input type="text"
                               id="input_{{ input.id }}"
                               name="input_{{ input.id }}"
                               data-bubble-input="{% for output in trigger_outputs %}{{ output.name }} {% endfor %}"
                               class="form-control"
                               value="">
                        {% elif input.mime_type == "image" %}
                        <select name="input_{{ input.id }}"
                                id="input_{{ input.id }}"
                                class="form-control">
                            {% for output in trigger_outputs %}
                            {% if output.mime_type == "image" %}
                            <option value="%{{ output.name }}%">{{ output.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% elif input.mime_type == "video" %}
                        <select name="input_{{ input.id }}"
                                id="input_{{ input.id }}">
                            {% for output in trigger_outputs %}
                            {% if output.mime_type == "video" %}
                            <option value="%{{ output.name }}%">{{ output.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default btn-block">Next</button>
    </form>
    <script type="text/javascript" src="{% static "recipes/js/recipe_mapping.js" %}"></script>
{% endblock %}
